[ ca ]
default_ca = my_ca

[ my_ca ]
dir = /Users/homeuser/Documents/projects/goProjects/src/github.com/sudeeptoroy/cloud-ml-spire/spire/certs/two-tier
new_certs_dir = $dir/newcerts
certificate = $dir/cacert.pem
database = $dir/index.txt
private_key = $dir/private/cakey.pem
serial = $dir/serial
default_md = sha256
policy = my_policy

[ my_policy ]
commonName = supplied
stateOrProvinceName = optional
countryName = optional
emailAddress = optional
organizationName = optional
organizationalUnitName = optional

[ req ]
default_bits = 2048
default_md = sha256
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
commonName = Common Name (e.g. server FQDN or YOUR name)
stateOrProvinceName = State or Province Name (full name)
countryName = Country Name (2 letter code)
emailAddress = Email Address
organizationName = Organization Name (eg, company)
organizationalUnitName  = Organizational Unit Name (eg, section)

